* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../images/blurred-background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.card-wrapper-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-right: 10%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Verdana, sans-serif;
}

.card-wrapper-flex .txt-quotes {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: white;
  letter-spacing: 7px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.card-wrapper-flex .txt-quotes .bold {
  color: goldenrod;
  font-weight: bold;
}

.card-wrapper-flex .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #27292b;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b2e33), to(#181a1d));
  background: linear-gradient(180deg, #2b2e33 0%, #181a1d 100%);
  border-radius: 10px;
  padding: 13% 7% 0px 7%;
  width: 500px;
  height: 700px;
  -webkit-box-shadow: rgba(143, 116, 116, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 8px 12px;
          box-shadow: rgba(143, 116, 116, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 8px 12px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.card-wrapper-flex .card-container .welcome {
  font-size: clamp(2rem, 8vw, 3rem);
  font-weight: lighter;
  letter-spacing: 3px;
  color: #3d8542;
  text-align: center;
  margin-bottom: 3%;
}

.card-wrapper-flex .card-container .lbl-username,
.card-wrapper-flex .card-container .lbl-password {
  margin-top: 6%;
  margin-bottom: 1.25%;
  color: white;
  font-size: clamp(0.5rem, 4vw, 0.9rem);
}

.card-wrapper-flex .card-container .lbl-password {
  margin-top: 9%;
}

.card-wrapper-flex .card-container #username,
.card-wrapper-flex .card-container #password {
  border: none;
  border-style: none none solid none;
  border-width: 2px;
  border-color: white;
  background-color: transparent;
  height: 30px;
  color: white;
}

.card-wrapper-flex .card-container #username::-webkit-input-placeholder,
.card-wrapper-flex .card-container #password::-webkit-input-placeholder {
  color: white;
  opacity: 0.2;
}

.card-wrapper-flex .card-container #username:-ms-input-placeholder,
.card-wrapper-flex .card-container #password:-ms-input-placeholder {
  color: white;
  opacity: 0.2;
}

.card-wrapper-flex .card-container #username::-ms-input-placeholder,
.card-wrapper-flex .card-container #password::-ms-input-placeholder {
  color: white;
  opacity: 0.2;
}

.card-wrapper-flex .card-container #username::placeholder,
.card-wrapper-flex .card-container #password::placeholder {
  color: white;
  opacity: 0.2;
}

.card-wrapper-flex .card-container #username:focus,
.card-wrapper-flex .card-container #password:focus {
  border-color: #3d8542;
  outline: 0 none;
  color: #3d8542;
}

.card-wrapper-flex .card-container .register {
  color: white;
  margin-top: 10px;
  font-size: clamp(0.4rem, 4vw, 0.8rem);
}

.card-wrapper-flex .card-container .register .link-register {
  text-decoration: none;
  color: #3d8542;
}

.card-wrapper-flex .card-container .txt-demouser {
  color: white;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: clamp(0.5rem, 4vw, 0.9rem);
}

.card-wrapper-flex .card-container .btn-userA,
.card-wrapper-flex .card-container .btn-login {
  padding: 0;
  border: none;
  background: none;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 2px;
  background: #3d8542;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d8542), to(#336e37));
  background: linear-gradient(180deg, #3d8542 0%, #336e37 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.1) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.1) 0px 5px 5px;
}

.card-wrapper-flex .card-container .btn-userA {
  width: 50%;
}

.card-wrapper-flex .card-container .btn-login {
  margin-top: 8%;
}
/*# sourceMappingURL=App.css.map */